# Boolean Comparison and Logical Operators

In [1]:
True
False

False

In [2]:
True + 1

2

### Booleans, Comparison Operators, and Logical Operators
The bool data type holds one of the values True or False, which are often encoded as 1 or 0, respectively.

There are 6 comparison operators that are common to see in order to obtain a bool value:

### Comparison Operators
#### Symbol Use Case	Bool	Operation
    5 < 3	False	Less Than
    5 > 3	True	Greater Than
    3 <= 3	True	Less Than or Equal To
    3 >= 5	False	Greater Than or Equal To
    3 == 5	False	Equal To
    3 != 5	True	Not Equal To
And there are three logical operators you need to be familiar with:

#### Logical Use Bool Operation
    5 < 3 and 5 == 5	False	and - Evaluates if all provided statements are True
    5 < 3 or 5 == 5	True	or - Evaluates if at least one of many statements is True
    not 5 < 3	True	not - Flips the Bool Value
[Here](https://www.irishtimes.com/news/science/how-george-boole-s-zeroes-and-ones-changed-the-world-1.2014673) is more information on how George Boole changed the world!

In [3]:
5 < 3

False

In [4]:
5 > 3

True

In [5]:
3 <= 3

True

In [6]:
3 >= 5

False

In [7]:
3 == 5

False

In [8]:
3 != 5

True

# Quiz: Which is denser, Rio or San Francisco?
    Try comparison operators in this quiz! This code calculates the population densities of Rio de Janeiro and San Francisco.

    Write code to compare these densities. Is the population of San Francisco more dense than that of Rio de Janeiro? Print True if it is and False if not.

In [9]:
sf_population, sf_area = 864816, 231.89
rio_population, rio_area = 6453682, 486.5

san_francisco_pop_density = sf_population/sf_area
rio_de_janeiro_pop_density = rio_population/rio_area

# Write code that prints True if San Francisco is denser than Rio, and False otherwise
san_francisco_pop_density > rio_de_janeiro_pop_density

False

#### Why ==?


    Why do you think Python uses == for checking equality rather than =?

In [2]:
emails = ['elishadammie@gmail.com', 'kdfadairo@futa.edu.ng', 'daniel@ebay.com', 'maxwell78@amazon.com', 'dammie@microsoft.co.uk']

In [12]:
True == 1

True


1. True and True
2. False and True
3. 1 == 1 and 2 == 1
4. "test" == "test"
5. 1 == 1 or 2 != 1
6. True and 1 == 1
7. False and 0 != 0
8. True or 1 == 1
9. "test" == "testing"
10. 1 != 0 and 2 == 1
11. "test" != "testing"
12. "test" == 1
13. not (True and False)
14. not (1 == 1 and 0 != 1)
15. not (10 == 1 or 1000 == 1000)
16. not (1 != 10 or 3 == 4)
17. not ("testing" == "testing" and "Zed" == "Cool Guy")
18. 1 == 1 and not ("testing" == 1 or 1 == 0)
19. "chunky" == "bacon" and not (3 == 4 or 3 == 3)
20. 3 == 3 and not ("testing" == "testing" or "Python" == "Fun")

In [13]:
3 != 4 and not ("testing" != "test" or "Python" == "Python")

False

In [14]:
# Python Identity Operators

In [15]:
x = 2
y = 3

In [16]:
x is y

False

In [24]:
x = 67
y = 67

In [25]:
hex(id(67))

'0x55e1bbfe9bc0'

In [26]:
hex(id(x))

'0x55e1bbfe9bc0'

In [27]:
hex(id(y))

'0x55e1bbfe9bc0'

In [29]:
x = 57

In [30]:
hex(id(x))

'0x55e1bbfe9a80'

In [31]:
hex(id(57))

'0x55e1bbfe9a80'

In [20]:
z is x

True

In [42]:
name_lst = 'ELISHA LEKAN ITUNU OLIVE SAMUEL PATIENCE MUSTAPHA SHAMEL SENSEI'.split(' ')

In [43]:
name_lst

['ELISHA',
 'LEKAN',
 'ITUNU',
 'OLIVE',
 'SAMUEL',
 'PATIENCE',
 'MUSTAPHA',
 'SHAMEL',
 'SENSEI']

In [46]:
'elisha'.upper() in name_lst and 'ITUNU'.capitalize() not in name_lst

True

In [45]:
'ITUNU'.capitalize()

'Itunu'

In [47]:
name_lst

['ELISHA',
 'LEKAN',
 'ITUNU',
 'OLIVE',
 'SAMUEL',
 'PATIENCE',
 'MUSTAPHA',
 'SHAMEL',
 'SENSEI']

In [50]:
name_lst.sort(reverse=True)

In [51]:
name_lst

['SHAMEL',
 'SENSEI',
 'SAMUEL',
 'PATIENCE',
 'OLIVE',
 'MUSTAPHA',
 'LEKAN',
 'ITUNU',
 'ELISHA']

In [52]:
name_lst.append('Jerry')

In [53]:
name_lst

['SHAMEL',
 'SENSEI',
 'SAMUEL',
 'PATIENCE',
 'OLIVE',
 'MUSTAPHA',
 'LEKAN',
 'ITUNU',
 'ELISHA',
 'Jerry']

In [54]:
name_lst = 'ELISHA emmanuel LEKAN lizzy ITUNU idonsegit OLIVE ola SAMUEL PATIENCE MUSTAPHA SHAMEL SENSEI'.split(' ')

In [55]:
name_lst

['ELISHA',
 'emmanuel',
 'LEKAN',
 'lizzy',
 'ITUNU',
 'idonsegit',
 'OLIVE',
 'ola',
 'SAMUEL',
 'PATIENCE',
 'MUSTAPHA',
 'SHAMEL',
 'SENSEI']

In [56]:
name_lst.sort()

In [57]:
name_lst

['ELISHA',
 'ITUNU',
 'LEKAN',
 'MUSTAPHA',
 'OLIVE',
 'PATIENCE',
 'SAMUEL',
 'SENSEI',
 'SHAMEL',
 'emmanuel',
 'idonsegit',
 'lizzy',
 'ola']

In [59]:
name_lst.count('JOLADE')

0

In [60]:
'ELISHA'[3]

'S'